<div class="container mt-4">
    @if (loading) {
    <p>Cargando...</p>
    } @else if (errorMsg) {
    <p>Error: {{ errorMsg }}</p>
    } @else if (estudiante) {
    <div class="card shadow p-4">
        <h2 class="text-center mb-3">Bienvenido, {{ estudiante.persona }}</h2>

        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Número de control:</strong> {{ estudiante.numero_control }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ estudiante.email }}</li>
                    <li class="list-group-item"><strong>Semestre:</strong> {{ estudiante.semestre }}</li>
                    <li class="list-group-item"><strong>Materias cursadas:</strong> {{ estudiante.materias_cursadas }}
                    </li>
                    <li class="list-group-item"><strong>Materias aprobadas:</strong> {{ estudiante.materias_aprobadas }}
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>Créditos acumulados:</strong> {{ estudiante.creditos_acumulados
                        }}</li>
                    <li class="list-group-item"><strong>Promedio ponderado:</strong> {{ estudiante.promedio_ponderado |
                        number:'1.2-2' }}</li>
                    <li class="list-group-item"><strong>Porcentaje de avance:</strong> {{ estudiante.porcentaje_avance
                        }}%</li>
                    <li class="list-group-item"><strong>Materias reprobadas:</strong> {{ estudiante.materias_reprobadas
                        }}</li>
                </ul>
            </div>
        </div>

        @if (estudiante.foto) {
        <div class="text-center mt-4">
            <img [src]="'data:image/jpeg;base64,' + estudiante.foto" class="rounded-circle shadow" width="150"
                height="150">

        </div>
        }
    </div>
    }
</div>